body{
    margin: 0;
    padding: 0;
    background: black
    
}
header{
    height: 635px;
    width: 100%;
    background: linear-gradient(to right,
    rgb(243, 84, 169),
    rgb(246, 146, 161),
    rgb(241, 176, 55),
    #f4f407);
}
main{
    background: linear-gradient(to right,
    rgb(243, 84, 169),
    rgb(246, 146, 161),
    rgb(241, 176, 55),
    #f4f407);
    margin-top:10px;
    height: 100vh;
    text-align: center;
}
main span{
    font-size: 30px;
    color: white;
}
nav {
    
    justify-content: center;
    text-align: center;
    height: 3rem;
    background-color: white;

}
nav ul{
    
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}
nav li{
    margin-top: 1rem;
}
a{
    text-decoration: none;
    color: black;
}
main img{
    border-radius: 0 45px 0 0;
    margin-top: 15px;
}
.card{
    border-radius: 0 45px 0 45px;
    text-align: center;
    align-items: center;
    margin-left: 10px;

    background-color: white;
    width:185px;
    height: 300px;
}
.item{
    color: black;
    font-weight: 100;
}
.cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    

}
button{
    margin-top: 60px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    background-color: rgb(245, 222, 222);
    font-weight: bold;
    border: 1px solid whitesmoke;


    
}
.image-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -30%);
    font-size: 24px;
    text-align: center;
    width:50%;
    height: 35%;
  }
.image-text h2{
    text-align:start;
    padding-left: 50px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight:bold;
    letter-spacing: 2px;
}
.image-text p{
    text-align:left;
    padding-left: 50px;
    margin-bottom: 0px;
    margin-top: -25px;
    font-size:20px;
}
.bgcolor{
  background-color: #ea686e;
  opacity: 0.75;
  color:white;
}
#phone{
    border:1px solid black;
    padding: 4px;
    border-radius: 60%;
    padding-right: 5px;

}
.symbl{
    margin-top: 4px;
    
}
@media only screen and (min-width: 378px) and (max-width:500px) {
    .card{
        border-radius: 0 45px 0 45px;
        text-align: center;
        align-items: center;
        margin-left: 10px;
    
        background-color: white;
        width:98px;
        height: 150px;
    }
    main img{
        border-radius: 0 45px 0 0;
        margin-top: 15px;
        height: 75px;
        width: 75px;
    }
    .item{
        font-size: small;
    }
    .card {
        padding-bottom: 10px;
        
    }
    .des{
        font-size: small;

        margin-left: 10px;
    }

  
  }

